#storage-message {
    background-color: white;
    color: var(--grayish-blue);

    padding: 1rem 2rem;
    border-radius: 1rem;
    width: max-content;

    display: flex;
    align-items: center;
    gap: 1rem;

    b {
        color: var(--very-dark-blue);

        font-size: xx-large;
    }
}