@media (max-width: 800px) {
    body {
        background-image: url('../assets/images/bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .App {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #storage-viewer {
        padding-bottom: 3rem;
    }

    #storage-message {
        position: absolute;
        left: 25%;
        top: 72%;
    }
}