@media (max-width: 800px) {
    body {
        background-image: url('../assets/images/bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .App {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #storage-viewer {
        height: 7rem;
    }

    #storage-message {
        position: relative;
        left: 10%;
        top: 30%;
    }
}